@tailwind base;
@tailwind utilities;
@tailwind components;

.container{
    width: 90%;   
    margin:0 auto;
    padding:0;
    position:relative;  
}

::selection {
    background-color: #6b1470;
    color: #fff;
}

